* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url("img/imagen6.jpeg");
    background-size: 100%;
    background-position: center;
    background-attachment: scroll; */
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    color: #000;
    font-family: sans-serif;
    background: #fff;
}

header {
	width:100%;
}

header nav {
	margin:20px auto;
	background:#024959;
}

.menu_bar {
	display:none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a:hover {
	background:#037E8C;
}

section {
	padding:20px;
}

.fotos {
    margin: auto;
    padding: 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    background: #fff;
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    background: #fff;
    width: 20%;
    transition: 2s;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.slide img {
    width: auto;
    height: 500px;
    border-radius: 10px;
}

.navigation-manual {
    position: relative;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #000;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: .70;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #000;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: .70;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

footer {
    color: #ccc;
    grid-area: footer;
    text-align: center;
}

@media screen and (max-width:800px ) {
    body {
        width: 100%;
    }

    header {
        position: fixed;
        display: block;
        margin-bottom: 50px;
    }
     
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}

    .manual-btn {
        display: none;
    }

    .informacion {
        width: 90%;
        margin: auto;
    }
}