* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url("img/imagen6.jpeg");
    background-size: 100%;
    background-position: center;
    background-attachment: scroll; */
    width: 90%;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    color: #000;
    font-family: sans-serif;
    background: #fff;
}

header {
	width:100%;
    border-radius: 3px;
}

header nav {
	margin:20px auto;
	background:#024959;
    z-index: 1000;
}

.menu_bar {
	display:none;
}

header nav ul {
	list-style:none;
}

header nav ul li {
	display: inline-block;
    position: relative;
}

header nav ul li a,
header nav ul li label {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li:hover {
	background:#037E8C;
}

header nav ul li .children {
    display: none;
    position: absolute;
    width: 150%;
    z-index: 1000;
    background: rgb(19, 19, 19);
}

header nav ul li .children li {
    display: block;
    border-bottom: 1px solid rgba(255,255,255, .5);
}


.fotos {
    margin: auto;
    padding: 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    background: #fff;
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    background: #fff;
    width: 20%;
    transition: 2s;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.slide img {
    width: auto;
    height: 500px;
    border-radius: 10px;
}

.navigation-manual {
    position: relative;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #000;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: .70;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #000;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: .70;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

.informacion li {
    list-style: none;
    margin: 10px auto;
}

.informacion li label {
    display: block;
    color: #fff;
    padding: 15px;
    background: #024250;
    border-radius: 3px;
}

#unique {
    display: block;
}

.contenido {
    text-align: center;
    margin: auto;
}

.informacion li label:hover {
    background: #037E8C;
}

.informacion li ul {
    display: none;
    margin: 15px auto;
}

footer {
    color: #ccc;
    text-align: center;
}

form input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-transform: capitalize;
}

form input[type="submit"] {
    width: 100%;
    background: #024959;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px auto;
}

form input[type="submit"]:hover {
    background: #0d829c;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    font-family: sans-serif;
    padding: 14px 20px;
}

@media screen and (max-width:800px ) {
    body {
        width: 100%;
        padding-top: 69px;
    }

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
        position: fixed;
        top: 0;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
        overflow: hidden;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

    header nav {
        height: calc(100% - 69px);
        width: 80%;
        position: fixed;
        right: 100%;
        margin: 0;
        overflow-y: scroll;
    }

    header nav ul li {
        display: block;
        border-bottom: 1px solid rgba(255,255,255, .5);
    }

    header nav ul li a {
        display: block;
    }

    header nav ul li:hover .children {
        display: none;
    }

    header nav ul li .children {
        width: 100%;
        position: relative;
        background: rgb(19, 19, 19);
    }

    .manual-btn {
        display: none;
    }

    .informacion {
        width: 90%;
        margin: auto;
    }
}